# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# CI artifacts
TestResults.xcresult/
.spm-cache/
